.container{
    max-width: 45vw;
    margin: auto;
}

.center{
    text-align: center;
    margin-top: 40px;
}
.container h2{
    margin-top: 15px;
}

.container p{
    padding-top: 5px;
}

.container li{
    margin-left: 20px;
    margin-top: 8px;
}

@media only screen and (max-width: 600px) {
    .container{
        max-width: 90vw;
        margin: auto;
    }
 }