.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 56vh;
    justify-content: flex-start;
    padding-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }

  .blogs{
    box-sizing: border-box;
      padding: 7px;
      margin: 0px;
      justify-content: center;
  }

  .blogs h2{
    margin: 15px;
  }

  .blogs h3{
    margin: 5px;
    color: rgb(97, 2, 2);
  }

  .blogs p{
    padding: 3px;
  }
.blogs img{
  float: right;
}
  .para{
    padding: 20px;
    letter-spacing: 1.5px;
  }


  .blogs ul{
    padding-left: 59px;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  @media only screen and (max-width: 600px) {
    .container{
      padding: 0 2.5rem;
    }
   .main{ display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    min-height: 56vh;
    justify-content: flex-start;
    padding-top: 2rem;
   }
   .main h1{
    font-size: 24px;
   }

   .main h2{
    font-size: 20px;
    margin: 0px;
   }
   .blogs img{
    padding: 20px;
   }
   .blogs hr{
    width: 510px;
    padding: 4px;
   }
  .blogs span {
    font-size: 25px;
    padding: 63px;
    padding-left: 62px;
    font-style: italic;
   }
 }