.mainNav1 ul{
    display: flex;
    }
    
    .mainNav1 ul li{
      margin: 0 24px;
      list-style: none;
      font-weight: bold;
    }
    
    .mainNav1 ul{
      justify-content: center;
      margin-top: 50px;
    }

    .title{
        justify-content: center;
        display: flex;
        margin-top: 3rem;
        margin-left: 19px ;
    }

    .image{
        display: none;
    }

    .image1{
        display: none;
    }
@media only screen and (max-width: 600px) {
/* Tiger */
.mainNav1{

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 4px 0px;
gap: 62px;

position: absolute;
width: 369px;
height: 80px;
left: 7px;
top: 23px;
background: #5c58582e;
border: 6px solid #e9e5e5ab;
box-shadow: inset -12px -13px 2px -2px rgba(0, 0, 0, 0.25);
border-radius: 200px;
}

/* Asportsomania */
.title{
width: 130px;
height: 21px;
margin-left: 80px;
display: flex;
font-family: 'Inconsolata';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 21px;
/* identical to box height */


color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


/* Soccer Player */
.image{
    
width: 48px;
height: 48px;
justify-content: center;
    display: flex;
    margin-top: -27px;
    margin-left: 23px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.lin{
    margin-left: 286px;
    display: none;
}

.image1{
    display: flex;
    float: right;
    height: 38px;
    width: 38px;
    margin-right: 44px;
    margin-top: -44px;
}

.mainNav1 ul{
    display: none;
    }
   
 }
